<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <!-- 命名空间 -->
    <typeAliases>
         <typeAlias alias="User" type="com.nianhong.model.User"/> 
         <typeAlias alias="Task" type="com.nianhong.model.Task"/> 
         <typeAlias alias="SubTask" type="com.nianhong.model.SubTask"/> 
         <typeAlias alias="TaskType" type="com.nianhong.model.TaskType"/> 
         <typeAlias alias="WaitVerify" type="com.nianhong.model.WaitVerify"/> 
         <typeAlias alias="SalerTaskDoing" type="com.nianhong.model.SalerTaskDoing"/> 
         <typeAlias alias="TaskGet" type="com.nianhong.model.TaskGet"/> 
         <typeAlias alias="Integral" type="com.nianhong.model.Integral"/> 
         <typeAlias alias="IntegralLog" type="com.nianhong.model.IntegralLog"/> 
    </typeAliases>

    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>