<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nianhong.dao.IntegralLogDao">

	<insert id="insertIntegralLog" parameterType="IntegralLog">
		insert into Integral_log(initiator, accepter, type, value, status, operate_time, remark)
		values(#{initiator}, #{accepter}, #{type}, #{value}, #{status}, #{operate_time}, #{remark})
	</insert>

	<select id="selectByInitiatorAndTypeAndStatus" resultType="IntegralLog">
		select * 
		from Integral_log 
		where initiator = #{initiator} and type = #{type} and status = #{status}
	</select>
	
	<select id="selectByID" resultType="IntegralLog">
		select * 
		from Integral_log 
		where id = #{id}
	</select>
	
	<select id="selectTBByTypeAndStatus" resultType="map">
		select ur.identity, ur.username, il.id, il.value, il.remark, integ.deposit
		from Integral_log il, Integral integ, user ur
		where il.type = #{type} and il.status = #{status} and il.initiator = ur.username and integ.username = ur.username
	</select>
	
	<!-- 根据IntegralLog的id为主键，更新除ID外的所有属性值 -->
	<update id="updateIntegralLog" parameterType="IntegralLog">
		update Integral_log set
			initiator = #{initiator},
			accepter = #{accepter},
			type = #{type},
			value = #{value},
			status = #{status},
			status = #{status},
			operate_time = #{operate_time},
			remark = #{remark}
		where id = #{id}	
	</update>
	
</mapper>
