<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nianhong.dao.IntegralDao">

	<select id="selectByUsername" resultType="Integral">
		select * 
		from Integral 
		where username = #{username}
	</select>
	
	<update id="updateValueAndFreezeByUsername">
		update Integral set
			value = #{value},
			freeze = #{freeze}
		where username = #{username}
	</update>
	
	<update id="updateIntegral" parameterType="Integral">
		update Integral set
			value = #{value},
			freeze = #{freeze},
			deposit = #{deposit}
		where username = #{username}
	</update>

</mapper>
