<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nianhong.dao.TaskGetDao">

	<insert id="insertTaskGet" parameterType="TaskGet">
		insert into task_get(id, task_id, sub_task_id, accepter, accept_time, finish_time, status, remark, description, pic_address, personal_inf, others)
		values(#{id}, #{task_id}, #{sub_task_id}, #{accepter}, #{accept_time}, #{finish_time}, #{status}, #{remark}, #{description}, #{pic_address}, #{personal_inf}, #{others})
	</insert>
	
	<select id="selectByTaskID" resultType="TaskGet">
		select * 
		from task_get
		where task_id = #{taskID}
	</select>
	
	<select id="selectBySubTaskID" resultType="TaskGet">
		select * 
		from task_get
		where sub_task_id = #{subTaskID}
	</select>
	
	<select id="selectBySubTaskIDAndStatus" resultType="TaskGet">
		select * 
		from task_get
		where sub_task_id = #{subTaskID} and status = #{status}
	</select>
	
	<select id="selectBySubTaskIDAndAccepter" resultType="TaskGet">
		select * 
		from task_get
		where sub_task_id = #{subTaskID} and accepter = #{accepter}
	</select>
	
	<select id="selectByAccepterAndTaskID" resultType="TaskGet">
		select * 
		from task_get
		where accepter = #{accepter} and task_id = #{taskID}
	</select>
	
	<select id="selectWaitAcceptByTaskID" resultType="TaskGet">
		select * 
		from task_get
		where task_id = #{taskID}
		<![CDATA[  
              and status > 1 and status <> 5  
        	]]>
	</select>
	
	<!-- 根据TaskGet的id为主键，更新除ID外的所有属性值 -->
	<update id="updateTaskGet" parameterType="TaskGet">
		update task_get set
			task_id = #{task_id},
			sub_task_id = #{sub_task_id},
			accepter = #{accepter},
			accept_time = #{accept_time},
			finish_time = #{finish_time},
			status = #{status},
			remark = #{remark},
			pic_address = #{pic_address},
			personal_inf = #{personal_inf},
			description = #{description}
		where id = #{id}	
	</update>
	
	<update id="updateStatusByTaskIDAndAccepter">
		update task_get set
			status = #{status}
		where task_id = #{taskID} and accepter = #{accepter}	
	</update>
	
	<update id="updateStatusByTaskGetID">
		update task_get set
			status = #{status}
		where id = #{taskGetID}
	</update>
	
	<update id="updateRemarkByTaskIDAndAccepter">
		update task_get set
			remark = #{remark}
		where task_id = #{taskID} and accepter = #{accepter}	
	</update>
	
	<update id="updateRemarkByTaskGetID">
		update task_get set
			remark = #{remark}
		where id = #{taskGetID}
	</update>
	
</mapper>
