<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nianhong.dao.TaskTypeDao">

	<select id="selectTypeByPrivilege" parameterType="int" resultType="String">
		select type 
		from task_type
		where 
		<![CDATA[ 
		privilege < #{pri}+1
		]]>
		
	</select>
	
	<select id="selectAllType" resultType="String">
		select type 
		from task_type
	</select>

</mapper>
